*{
    margin:0;
    padding:0;
}
body{
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    width: 90%;
    padding: 50px 0;
    max-width: 1100px;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-between;
}
.hero{
    background-image: url(img/pexels-photo-574077.jpeg);
    width: 100%;
    color: white;
    padding: 60px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay{
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
}
.hero_text{
    text-align: center;
    color: white;
}
p{
    margin-top: .50rem;
}
.col{
    margin-top: 1rem;
}
.second{
    /* background-color: powderblue; */
    text-align: center;
}
.third{
    width: 100%;
    background-color: rgba(0, 0,0 , .7);
}
.third_box{
    width: 30%;
    /* padding:10px 0; */
    /* display: flex; */
    /* height: 350px; */
}
.third_img{
    /* width: 100%; */
    max-width: 100%;
    /* height:130px; */
    display: flex;
    overflow: hidden;
    background-color: red;
    margin-top: 0;
    height: auto;
}
img{
    width: 100%;
    max-width: 100%;
}
.third_text{
    text-align: center;
    background-color: aliceblue;
    /* padding: 10px 0; */
}
.three_padding{
    /* padding: 20px 0; */
    /* margin-top: 0; */
}
.fourth{
    width: 100%;
    background-color: black;
}
.fifth{
    width: 100%;
}
.two_blog{
    /* background-color: red; */
    /* padding: 10px 0; */
    width: 100%;
    display: flex;
    border:1px solid white;
}
.blog1{
    width: 50%;
    background-color: rgb(25, 173, 231);
    color: black;
    padding: 10px 0;
    text-align: center;
}
.blog2{
    width: 50%;
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.sixth{
    width: 100%;
    text-align: center;
}
.width_text{
    color: black;
    text-align: center;
}
.insta{
    height:2rem;
}
@media(min-width:1100px){
    .third_text{
        margin-top: 0;
    }
}
@media (max-width:600px){
.row,
.two_blog{
    display: block;
}
.third_box,
.blog1,
.blog2{
    width: 100%;
}
.third_text{
    margin-bottom: 1rem;
}
.fifth{
    width: 100%;
}
}